


/*
 * Footer
 */
 .footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
  }
  .blog p:last-child {
    margin-bottom: 0;
  }

  /*
* Maddies customisations
*/
.jumbotron {
  margin-bottom: 0px;
  background-image: url(../images/IMG_0324.PNG);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
}